<div class="objectEdit_Content_Image">
	<img src="%IMAGE_SRC%">
	<div class="objectEdit_Content_Image_Public_Indicator %IMAGE_INTERNAL% %IMAGE_PUBLIC% %IMAGE_COVER%"></div>
	<div class="objectEdit_Content_Image_Overlay_Container">
		<div class="objectEdit_Content_Image_Overlay" onclick="changeImageCover(%IMAGE_ID%, %REF_ID%)">Titelbild</div>
		<div class="objectEdit_Content_Image_Overlay" onclick="changeImageInternal(%IMAGE_ID%, %REF_ID%)">Intern</div>
		<div class="objectEdit_Content_Image_Overlay" onclick="changeImagePublic(%IMAGE_ID%, %REF_ID%)">Öffentlich</div>
		<div class="objectEdit_Content_Image_Overlay" onclick="deleteObjectImage(%IMAGE_ID%, %REF_ID%)">Löschen</div>
	</div>
</div>